<h1>COVID19</h1>
<p>
	Letzter Stand:
</p>


<ejs-tab>
	<e-tabitems>
		<e-tabitem>
			<ng-template #headerText>
				<div>Welt</div>
			</ng-template>
			<ng-template #content>
				<ejs-grid id='Grid' #grid [dataSource]='countryData' [allowPaging]="false" [allowSorting]="true"
					[allowFiltering]="true" [allowGrouping]="true" allowResizing="true" [allowReordering]='true'
					allowResizing='true' [showColumnChooser]='true' [pageSettings]='pageSettings'
					[groupSettings]="groupOptions" [toolbar]='toolbarOptions' [sortSettings]='sortOptions'
					[allowExcelExport]='true' (toolbarClick)='toolbarClick($event)' height=500>
					<e-columns>
						<!-- column type : string number boolean date datetime -->
						<!-- 		<e-column headerText='Employee Image' width='150' textAlign='Center'>
			<ng-template #template let-data>
				<div class="image">
					<img src="https://ej2.syncfusion.com/angular/demos/src/grid/images/{{data.EmployeeID}}.png" alt="{{data.EmployeeID}}"/>
                                </div>
			</ng-template>
		</e-column> -->
						<e-column field='symbol' headerText='symb.' textAlign='Center' width=90 [visible]='false'>
						</e-column>
						<e-column field='continent' headerText='Kontinent' textAlign='Right' width=120></e-column>
						<e-column field='countryname' headerText='Land' textAlign='Right' width=120></e-column>
						<e-column field='population' headerText='Population' textAlign='Right' width=90 format="N0"
							[visible]='false'></e-column>
						<e-column field='confirmed' headerText='confirmed' textAlign='Right' width=110 format="N0">
						</e-column>
						<e-column field='confirmedPerPop' headerText='perPop' textAlign='Center' width=90></e-column>
						<e-column field='deaths' headerText='deaths' textAlign='Right' width=100 format="N0"></e-column>
						<e-column field='deathsPerPop' headerText='perPop' textAlign='Center' width=90></e-column>
						<!-- <e-column field='recovered' headerText='recovered' textAlign='Right' width=90 format=""></e-column> -->
					</e-columns>
					<e-aggregates>
						<e-aggregate>
							<e-columns>
								<e-column field="confirmed" type="sum" format="N0">
									<ng-template #footerTemplate let-data>Sum: {{data.sum}}</ng-template>
								</e-column>
								<e-column field="deaths" type="sum" format="N0">
									<ng-template #footerTemplate let-data>Sum: {{data.sum}}</ng-template>
								</e-column>
								<!--                 <e-column field="deathsPerPop" type="min">
                    <ng-template #footerTemplate let-data>Min: {{data.min}}</ng-template>
                </e-column>
                <e-column field="deathsPerPop" type="max">
                    <ng-template #footerTemplate let-data>Max: {{data.max}}</ng-template>
                </e-column> -->
								<e-column field="deathsPerPop" type="average" format="N0">
									<ng-template #footerTemplate let-data>Average: {{data.average}}</ng-template>
								</e-column>
								<!--                 <e-column field="confirmedPerPop" type="min">
                    <ng-template #footerTemplate let-data>Min: {{data.min}}</ng-template>
                </e-column>
                <e-column field="confirmedPerPop" type="max">
                    <ng-template #footerTemplate let-data>Max: {{data.max}}</ng-template>
                </e-column> -->
								<e-column field="confirmedPerPop" type="average" format="N0">
									<ng-template #footerTemplate let-data>Average: {{data.average}}</ng-template>
								</e-column>
							</e-columns>
						</e-aggregate>
					</e-aggregates>
				</ejs-grid>
			</ng-template>
		</e-tabitem>

		<e-tabitem>
			<ng-template #headerText>
				<div>Europa</div>
			</ng-template>
			<ng-template #content>

			</ng-template>
		</e-tabitem>

		<e-tabitem>
			<ng-template #headerText>
				<div>Deutschland</div>
			</ng-template>
			<ng-template #content>

			</ng-template>
		</e-tabitem>

		<e-tabitem>
			<ng-template #headerText>
				<div>NRW</div>
			</ng-template>
			<ng-template #content>

			</ng-template>
		</e-tabitem>

		<e-tabitem>
			<ng-template #headerText>
				<div>Regional</div>
			</ng-template>
			<ng-template #content>

			</ng-template>
		</e-tabitem>

		<e-tabitem>
			<ng-template #headerText>
				<div>Standorte</div>
			</ng-template>
			<ng-template #content>

			</ng-template>
		</e-tabitem>

		<e-tabitem>
			<ng-template #headerText>
				<div>Test</div>
			</ng-template>
			<ng-template #content>
				<ejs-grid [dataSource]='covidGermany' [allowPaging]="false" [allowSorting]="true"
					[allowFiltering]="true" [allowGrouping]="true" allowResizing="true" [allowReordering]='true'
					allowResizing='true' [showColumnChooser]='true' [pageSettings]='pageSettings'
					[groupSettings]="groupOptions" height=500></ejs-grid>
			</ng-template>
		</e-tabitem>

		<e-tabitem>
			<ng-template #headerText>
				<div>Inhalativa</div>
			</ng-template>
			<ng-template #content>
        <table id="filterTable">
          <tr>
            <td> <strong>Indikation: </strong></td>
            <td><a href="" id="copda" class="link"> COPD A </a></td>
            <td><a href="" id="copdb" class="link"> COPD B </a></td>
            <td><a href="" id="copdc" class="link"> COPD C </a></td>
            <td><a href="" id="copdd" class="link"> COPD D </a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>  <strong>Devices: </strong></td>    
            <td><a href="" id="alletypen"> Alle Typen </a></td>
            <td><a href="" id="pmdi"> pMDI (DA) </a></td>
            <td><a href="" id="dpi"> DPI (Pulverinhalator) </a></td>
            <td><a href="" id="respimat"> Respimat </a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>  <strong>Wirkstoffklassen: </strong></td>
            <td><a href="" id="alle"> Alle </a></td>
            <td><a href="" id="lama"> LAMA </a> </td>
            <td><a href="" id="laba"> LABA </a></td>
            <td><a href="" id="ics"> ICS </a> </td>
            <td><a href="" id="mono"> Mono </a> </td>
            <td><a href="" id="duo"> Duo </a></td>
            <td><a href="" id="triple"> Triple </a></td>
            <td><a href="" id="kombi"> Kombi </a> </td>
          </tr>
          <tr></tr>
        </table>
        <ejs-grid [dataSource]="inhalationswirkstoffe" [allowPaging]="false" [allowSorting]="true"
					[allowFiltering]="true" [allowGrouping]="true" allowResizing="true" [allowReordering]='true'
					[showColumnChooser]='true'>
          <e-columns>
            <e-column headerText='Präparate' [columns]='praeparatColumns'></e-column>
            <e-column headerText='Frequenz' [columns]='frequencyColumns'></e-column>
            <e-column headerText='Kombination' [columns]='combiColumns' [visible]="false"></e-column>
            <e-column headerText='Intervall' [columns]='intervallColumns'></e-column>
            <e-column headerText='Klasse' [columns]='klasseColumns'></e-column>
            <e-column headerText='Wirkstoff' [columns]='wirkstoffColumns'></e-column>
            <e-column headerText='Devicetyp' [columns]='devicetypColumns'></e-column>
          </e-columns>
          </ejs-grid>
			</ng-template>
		</e-tabitem>

	</e-tabitems>
</ejs-tab>

<div>
	<div>Deutschland (letzte):</div>
	<pre>{{de_latest | json}}</pre>
</div>

<div id="container2">
	<ejs-tab>
		<e-tabitems>
			<e-tabitem>
				<ng-template #headerText>
					<div>Auswertungsübersicht</div>
				</ng-template>
				<ng-template #content>
					<div id="container" class="table">
						<div class="table-row">
							<div  class="table-cell"><strong>Fallnummer:</strong></div><div  class="table-cell"> {{Patient_Fallnummer}}</div>
						</div>

						<div class="table-row"> 
								<div  class="table-cell"><strong>Vorname:</strong></div><div  class="table-cell"> {{Patient_Vorname}}</div>
						</div>

						<div class="table-row">
								<div  class="table-cell"><strong>Nachname:</strong></div><div  class="table-cell"> {{Patient_Nachname}}</div>
						</div>
						<div class="table-row">
								<div  class="table-cell"><strong>Aufnahmedatum:</strong></div><div  class="table-cell"> {{Patient_Aufnahmedatum}}</div>
						</div>
						<div class="table-row">
								<div  class="table-cell"><strong>Medikation:</strong></div><div  class="table-cell"> {{Patient_Medikation}}</div>
						</div>
						<div class="table-row">
							<div  class="table-cell">????</div><div  class="table-cell">{{Patient_TODO}}</div>
						</div>
						<div class="table-row">
								<div  class="table-cell"><strong>Diagnosen:</strong></div><div  class="table-cell"> {{Patient_Diagnosen}}</div>
						</div>
						<div class="table-row">
								<div  class="table-cell"><strong>DiagnosenUnformatiert:</strong></div><div  class="table-cell"> {{Patient_DiagnosenUnformatiert}}</div>
						</div>
						<div class="table-row">
								<div  class="table-cell"><strong>Anamnese:</strong></div><div  class="table-cell"> {{Patient_Anamnese}}</div>
						</div>
						<div class="table-row">
								<div  class="table-cell"><strong>Vorerkrankungen:</strong></div><div  class="table-cell"> {{Patient_Vorerkrankungen}}</div>
						</div>
						<div class="table-row">
								<div  class="table-cell"><strong>Voroperationen:</strong></div><div  class="table-cell"> {{Patient_Voroperationen}}</div>
						</div>
						<div class="table-row">
								<div  class="table-cell"><strong>Körperlicher Untersuchungsbefund:</strong></div><div  class="table-cell"> {{Patient_KoerperlicherUntersuchungsbefund}}</div>
						</div>
						<div class="table-row">
								<div  class="table-cell"><strong>EKGBefund:</strong></div><div  class="table-cell"> {{Patient_EKGBefund}}</div>
						</div>
						<div class="table-row">
								<div  class="table-cell"><strong>BildgebungBefund:</strong></div><div  class="table-cell"> {{Patient_BildgebungBefund}}</div>
						</div>
						<div class="table-row">
								<div  class="table-cell"><strong>Procedere:</strong></div><div  class="table-cell"> {{Patient_Procedere}}</div>
						</div>
						<div class="table-row">
								<div  class="table-cell"><strong>Therapie:</strong></div><div  class="table-cell"> {{Patient_Therapie}}</div>
						</div>
					</div>
				</ng-template>
			</e-tabitem>

      <e-tabitem>
        <ng-template #headerText>
          <div>Covid-Timeline</div>
        </ng-template>
        <ng-template #content>
          <ejs-gantt id="ganttDefault" height="430px" [dataSource]="ganttData" [taskFields]="taskSettings"></ejs-gantt>
        </ng-template>
      </e-tabitem>

      <e-tabitem>
        <ng-template #headerText>
          <div>Visiten</div>
        </ng-template>
        <ng-template #content>
          
        </ng-template>
      </e-tabitem>

      <e-tabitem>
        <ng-template #headerText>
          <div>Covid-Labor</div>
        </ng-template>
        <ng-template #content>
          
        </ng-template>
      </e-tabitem>

      <e-tabitem>
        <ng-template #headerText>
          <div>Triage</div>
        </ng-template>
        <ng-template #content>
          
        </ng-template>
      </e-tabitem>      

    <e-tabitem>
      <ng-template #headerText>
        <div>Covid Übersicht</div>
      </ng-template>
      <ng-template #content>
        
      </ng-template>
    </e-tabitem>


		</e-tabitems>
	</ejs-tab>
</div>

<div class="container">
	<form>
		<div class="form-group search-bar">
			<!-- Search -->
			<input type="text" class="form-control" placeholder="Search..." #searchBox (input)="search(searchBox.value)">

			<!-- Progres -->
			<div class="loader" *ngIf="loading">
				<div class="c-three-dots-loader"></div>
			</div>
		</div>

		<!-- Search Result -->
		<div class="list-group">
			<div class="list-group-item list-group-item-action" *ngFor="let country of countries$ | async">
				<div class="media">
					<img src="{{country.flag}}" class="mr-3" alt="...">
					<div class="media-body">
						<p class="mt-0">{{ country.name }}</p>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>